<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("./cssjs.ejs") %>
        <title>Drink</title>
        <style>
            body {
                background-color: #B7BF96;
            }

            h1 {
                color: #436B5C;
            }

            ul {
                text-transform: capitalize;
            }

            body {
                text-align: center;
            }
        </style>
</head>

<body>
    <h1>At foo bar</h1>

    <h2>
        <%= drink.name %>
    </h2>

    <img src="<%drink.image %>.png">

    <h3>
        $<%= drink.price%>
    </h3>
    <a href="/drinks">back</a>
</body>